@use "base";

.heading {
  color: red;
}

$primaryColor: green;
$borderRadius: 8px;

.primary_heading {
  color: $primaryColor;
}

.heading_3 {
  color: base.$color;
}

@import "./base";
@import "./base/membersList";
