.members__list {
  padding: 8px;
  background-color: aqua;
  border-radius: $borderRadius;

  ul {
    border: 2px solid #8888;
    border-radius: $borderRadius;
  }
  li {
    list-style: none;
    padding: 4px;
    font-weight: 500;
    text-transform: capitalize;
  }
}
